build/
gradle
.gradle/
*.iml
.DS_Store
.idea/
#*.gradle
*.properties
*.bak
captures/
ToonDaoGenerator/
Toon/SystoonCore/obj/
#AndroidManifest.xml
Toon/maindexlist.txt
Toon/white_list..xml
Toon/lint.xml
toon.flavor
Toon/src-gen/com/
/Toon/build/
/gradlew
toonconfigs*.zip
